@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url(../fonts/Gilroy-Light.woff2) format("woff2"),
    url(../fonts/Gilroy-Light.woff) format("woff"),
    url(../fonts/Gilroy-Light.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url(../fonts/Gilroy-Bold.woff2) format("woff2"),
    url(../fonts/Gilroy-Bold.woff) format("woff"),
    url(../fonts/Gilroy-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
