@import "../../../../less/variables.less";

.tiles__category_soups {
  background-image: url(/assets/img/soups_shadows_tablet.png);
  background-repeat: no-repeat;
  background-position: 16% 24px;
  background-size: 132%;
  .tiles__category-images {
    position: absolute;
    top: -20%;
    left: 10%;

    width: 80%;
    max-width: 350px;
  }

  .tiles__category-title {
    position: absolute;
    font-size: 3rem;
    left: 13%;
    bottom: 5px;
  }

  &:hover .tiles__category-images {
    transform: rotate(45deg);
  }
}

@media (min-width: @xxl) {
  .tiles__category_soups {
    background-position: 100px -50px;
    background-size: 600px;
    .tiles__category-images {
      position: absolute;
      top: -37%;
      left: 180px;

      width: 350px;
    }
  }
}

@media (max-width: @xl) {
  .tiles__category.tiles__category_soups {
    background-position: 34px -35px;
    background-size: 500px;
    .tiles__category-images {
      width: 300px;
      top: -60%;
      left: 100px;
    }
    .tiles__category-title {
      bottom: 20px;
      font-size: 3.5rem;
    }
  }
}
