@import "../../../../less/import.less";

.tiles__category.tiles__category_sets {
  .tiles__category-images {
    position: absolute;
    top: -5%;
    left: 0;

    max-width: 350px;
  }

  &:hover .tiles__category-images {
    top: 0;
  }

  .tiles__category-title {
    position: absolute;
    font-size: 4rem;
    left: 17%;
    bottom: 30px;
  }
}

@media (max-width: @xl) and (min-width: @lg) {
  .tiles__category.tiles__category_sets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tiles__category-images {
      position: absolute;
      top: 10%;
      left: 10%;
      z-index: 0;

      width: auto;
    }
    .tiles__category-title {
      position: absolute;
      bottom: 5%;
      right: 5%;
      z-index: 1;

      font-size: 5rem;
      text-align: right;
    }
  }
}

@media (max-width: @lg) {
  .tiles__category.tiles__category_sets {
    .tiles__category-images {
      top: -5%;
      left: 0;
      width: auto;
    }
    .tiles__category-title {
      bottom: 50px;
      left: auto;

      width: 100%;

      font-size: 3.5rem;
      margin-left: 30px;
    }
  }
}
