/* colors */

@light: #efeff4;
@dark: #333;
@lightgray: #cdcdcd;
@gray: #999;
@accent: #eb1f40;
@orange: #ffd8bc;
@blue: #8ed8f7;
@green: #b2f0a0;

/*breakpoints for generators*/
@xs: 367px;
@sm: 576px;
@md: 768px;
@mdlg: 896px;
@lg: 992px;
@xl: 1200px;
@xxl: 1600px;

@breakpoints: {
  xs: @xs;
  sm: @sm;
  md: @md;
  mdlg: @mdlg;
  lg: @lg;
  xl: @xl;
  xxl: @xxl;
};

/*width to generate*/

@width-array: {
  25: 25%;
  33: 33%;
  50: 50%;
  66: 66%;
  75: 75%;
  100: 100%;
};
