@import "../../less/import.less";

.tiles {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 600px;
  width: 100%;
  height: auto;
}

@media (min-width: @xxl) {
  .tiles {
    grid-template-rows: 800px;
  }
}

@media (max-width: @xl) {
  .tiles {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 400px 450px;
  }
}

@media (max-width: @md) {
  .tiles {
    display: block;
    height: auto;
  }
}
