@import "../../../../less/variables.less";

.navbar__items.navbar__items_bounded {
  width: 240px;
  flex-wrap: wrap;
}

@media (min-width: @xxl) {
  .navbar__items.navbar__items_bounded {
    width: auto;
    flex-wrap: wrap;
  }
}
